
button, input {
    overflow: visible;
    width: 100%;
    font-size: 20px;
   
     border-width: 5px;
     border-color: white;
     background-color: white;
     color: black;
     border-style: solid;
     border-radius: 7px;
     box-shadow: -6px -1px 13px rgba(0, 0, 0, 0.6);
     text-shadow: -14px -1px 15px rgba(0, 0, 0, 0.75);
     text-align: center; 
}